{% extends 'myapp/base.html' %}

{% block content %}
    <h1>Hello Welcome to My Food Database!</h1>
    <br/>
    <p> 
        <font size="+3">
        In the Food Lists tab you can see all the current foods in the database
        including the price, category, and what store sells the item.
        </font>
    </p>
    <br/>

    <p>
        <font size="+3">
            If you are new go to the register tab and create an account,
            returning users can go to the login tab
        </font>
    </p>
    <br/>

    <p>
        <font size="+3">
            Once logged in users will have a saved foods tab that can be saved,
            when using the search bar to look for foods.
        </font>
    </p>

{% endblock %}